<div class="page-header">
  <h3>Venuedish #<%= @venuedish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venueid</dt>
      <dd>
        <% if @venuedish.venue.present? %>
          <a href="/venues/<%= @venuedish.venueid %>">
            <%= @venuedish.venue.id %>
          </a>
        <% end %>
      </dd>

      <dt>Dishid</dt>
      <dd>
        <% if @venuedish.dish.present? %>
          <a href="/dishes/<%= @venuedish.dishid %>">
            <%= @venuedish.dish.id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venuedishes" class="btn btn-primary">
        Back
      </a>
      <a href="/venuedishes/<%= @venuedish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venuedish/<%= @venuedish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
