<!-- Validation failure messages -->
<% if @dishesbyvenue.errors.any? %>
  <% @dishesbyvenue.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Dishesbyvenue #<%= @dishesbyvenue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_dishesbyvenue/<%= @dishesbyvenue.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venueid -->
      <div class="form-group">
        <label for="venueid" class="control-label">
          Venueid
        </label>

        <%= select_tag(:venueid, options_from_collection_for_select(Venue.all, :id, :id, @dishesbyvenue.venueid), :class => "form-control") %>
      </div>

      <!-- Label and input for dishid -->
      <div class="form-group">
        <label for="dishid" class="control-label">
          Dishid
        </label>

        <%= select_tag(:dishid, options_from_collection_for_select(Dish.all, :id, :id, @dishesbyvenue.dishid), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Dishesbyvenue
      </button>
      or
      <a href="/dishesbyvenues/<%= @dishesbyvenue.id %>">Cancel</a>
    </form>
  </div>
</div>
